html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.news-item{
    margin: 20px 0;
}
.news-item .img img{
    max-width: 100%;
}
.news-item span.info{
    font-size: 12px;
    color: #999;
    padding: 5px 10px;
}
.news-item span.info i{
    padding: 0px 3px;
}
.insert-words{
    margin: -15px 0 25px;
}
.insert-words span#replace span{
    border-bottom: 1px dashed;
    color: #337ab7;
    margin: 0 5px;
    cursor: pointer;
}
.insert-words span#replace span:hover{
    color: #333;
}
a.check_all, a.check_out {
    text-decoration: none;
    border-bottom: 1px dashed;
}
div.notice-item {
    padding : 20px 0;
}
nav i.glyphicon{
    top : 3px;
}
span.blue{
    color: darkblue;
    font-weight: bold;
}
span.green{
    font-weight: bold;
    color: forestgreen;
}
.pad-tab-1{
    padding-left: 30px
}